@media print{
    @page{
        size: A4;
        margin: 9mm;
    }
    body{
        background: url(../Images/Fondo_Print.jpg);
        background-size: cover;
        margin: 10px;
        padding: 0px;
        font-family: 'Glass Antiqua', cursive;
        font-size: 12px;
        line-height: 1.5em;
    }
    .LiveTheMusic {
        background: url(../Images/Fondo-header_Print.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: auto;
        text-align: center;
        padding: 10px 0px;
    }
    .audios_caratula{
        visibility: hidden;
        display: none;
    }
    
    .caratulas img{
        width: 100%;
        height: auto;
        border: 1px solid #575454;
    }
    .information_details{
        border: 1px solid #575454;
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width:1279px) and (orientation:portrait){
    body{
        background: url(../Images/fondo.png);
        background-size: contain;
        margin: 0px;
        padding: 0px;
        font-family: 'Glass Antiqua', cursive;
        font-size: 10px;
    }
    .LiveTheMusic p{
        visibility: hidden;
        display: none;
    }
    .LiveTheMusic {
        background: url(../Images/fondo-header.jpg);
        background-size: cover;
        color: white;
        height: auto;
        text-align: center;
        font-size: 20px;
        line-height: 100%
    }
    .caratulas img{
        border-radius: 50%;
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border: 2px solid #000000;
    }
    .information_details{
        background: #75a0a0cc;
        border: 1px solid #000000;
        color: white;
        border-radius: 15px;
    }
    .information_details summary {
        text-align: center;
        background: #262A2A;
        width: auto;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid #000000;
        border-radius: 20px;
    }
    .contenedor_footer{
        color: #000000;
        text-align: center;
        height: auto;
        font-size: 15px;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        background: #0F2027;
        background: -webkit-linear-gradient(to right, #c8cbcc, #7fd683, #1e3d1d);
        background: linear-gradient(to right, #c8cbcc, #7fd683, #1e3d1d);
    }
}